/* --- Html base parts --- */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #aaa;
	font-family: cursive;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	min-height: 100vh;
}

/* --- base HTML elements --- */
h1 {
	margin: 0;
	font-size: 3.5em;
	background: linear-gradient(to top, red, black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}

h2 {
	margin: 0;
	background: linear-gradient(to top, black, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* --- GameHUB base parts --- */

#header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	background-color: #fff;
	height: 15%;
}

#body {
	display: flex;
	flex-direction: row;
	background-color: #777;
	padding: 1vh;
	height: 130%;
	z-index: 0;
}

#footer {
	background-color: #fff;
	height: 15%;
}

/* --- GameHUB header parts --- */

#titleZone {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1vh;
	border-radius: 3vh;
}

#logo,
#achievements,
#settings,
#accountLogo {
	width: 12.5vh;
	padding: 1vh;
	border-radius: 3vh;
}
#logo img,
#achievements img,
#settings img,
#accountLogo img {
	cursor: pointer;
}
#logo img,
#settings img,
#accountLogo img {
	border-radius: 50%;
}

#accDisplay {
	background: #000000;
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 60%,
		rgba(100, 0, 0, 1) 100%
	);
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: #fff;
	height: 100%;
	flex: 1;
}
#accDisplay #accountLogo {
	margin: 0 auto;
	display: block;
}

/* --- GameHUB body parts --- */

#gameZone {
	background-color: #000;
	height: 100%;
	flex: 1;
	z-index: 1;
}

.ad {
	background-color: #f00;
	width: 10%;
	z-index: 1;
}

/* --- GameHUB footer parts --- */

/* --- Variables --- */
.hidden {
	display: none;
}
